<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MvcApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>read</servlet-name>
		<servlet-class>controller.readController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>read</servlet-name>
		<url-pattern>/read.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>reply</servlet-name>
		<servlet-class>controller.replyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>reply</servlet-name>
		<url-pattern>/reply.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>/controller.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>join</servlet-name>
		<servlet-class>controller.customerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/customer.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>write</servlet-name>
		<servlet-class>controller.WriteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>write</servlet-name>
		<url-pattern>/write.do</url-pattern>
	</servlet-mapping>
	
	<servlet>	
		<servlet-name>getLike</servlet-name>
		<servlet-class>controller.getLikeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>getLike</servlet-name>
		<url-pattern>/getLike.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>like</servlet-name>
		<servlet-class>controller.likeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>like</servlet-name>
		<url-pattern>/like.do</url-pattern>
	</servlet-mapping>
	
</web-app>